@font-face {
    font-family: 'rickandmorty';
    src: url("../public/fonts/get_schwifty.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'rickandmorty';
    color: #F0F2EB;
}

body {
    background-color: #0D0D0D;
}